.swiper {
    align-items: stretch;
    padding-top: 1rem;
    overflow: visible !important;
    min-width: 0;
    display: flex !important;
}

.swiper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  display: flex;
  width: 20rem !important;
}

.swiper .col-2 h3 {
    display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}