.modal-socials {
    display: flex;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--green);
  width: 2.5rem;
  height: 3rem;
}

.social-icon svg {
    width: 1.5rem;
    height: 1.5rem;
}